{% raw %}
# Ansible Generated Vault content, please do not add manually any new values

{% endraw %}
{% for item in vault_content.values() %}
#{{ item.comment }}
{{ item.key }}: '{{ item.value }}'
{% endfor %}