{% raw %}
#
# Ansible Generated Vault content, please do not add manually any new values
#
{% endraw %}
{% for item in vault_content_general.values() %}

#{{ item.comment }}
{% if item.password_type == 'simple' %}
{{ item.name }}: '{{ lookup('password', '/dev/null length=62' ) }}'
{% elif item.password_type == 'normal'  %}
{{ item.name }}: '{{ lookup('password', '/dev/null chars=ascii_letters,digits,punctuation length=62' ) }}'
{% elif item.password_type == 'human'  %}
{{ item.name }}: '{{ lookup('password', '/dev/null length=22' ) }}'
{% else %}
{{ item.name }}: '{{ lookup('password', '/dev/null chars=ascii_letters,digits,punctuation length=62' ) }}'
{% endif %}
{% endfor %}

#### Host specific secrets
{% for vault in vault_content_host -%}
{% for host in vault_content_host[vault].host %}

#{{ vault_content_host[vault].comment }} for host {{ host }}
{% if vault_content_host[vault].password_type == 'simple' %}
{{ vault_content_host[vault].name }}{{ host }}: '{{ lookup('password', '/dev/null length=62' ) }}'
{% elif vault_content_host[vault].password_type == 'normal'  %}
{{ vault_content_host[vault].name }}{{ host }}: '{{ lookup('password', '/dev/null chars=ascii_letters,digits,punctuation length=62' ) }}'
{% elif vault_content_host[vault].password_type == 'human'  %}
{{ vault_content_host[vault].name }}{{ host }}: '{{ lookup('password', '/dev/null length=22' ) }}' 
{% else %}
{{ vault_content_host[vault].name }}{{ host }}: '{{ lookup('password', '/dev/null chars=ascii_letters,digits,punctuation length=62' ) }}'
{% endif %}
{% endfor %}
{% endfor %}